body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

div {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0 0 10px rbga(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    background-color: skyblue;
    color: white;
    /* border: none; */
    border-radius: 9px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: lightgreen;
}

ul{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


























